/*
Zona de pagina de login
*/
.fondo{
    background: url("../img/fondo_standard.jpeg") no-repeat center center fixed;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /*background-size: cover;*/
}
.contenedora{
    background-color: greenyellow;
    margin: auto;
    margin-top: 10vw;
    width : 35%;
    padding-bottom: 2%;
    padding-top: 1%;
    border-radius: 25px;
    opacity: 0.4;
    
    align-content: center;
    text-align: center;
    
}
.contenedora_interior{
    opacity: 1 !important;
}
.contenedora_username{
    
}
.contenedora_password{
    margin-top: 2%;
}
.contenedora_tabla{
    display:table-cell;
    vertical-align:middle
}
.contenedora_login_facebook{
    
}
.contenedora_login_twitter{
    
}
.contenedora_login_google{
    
}

/* para efectos

.img {
  width: 200px;
  height: 200px;
  border: 10px solid #fff;
  -webkit-border-radius: 15px;
   border-radius: 15px;
  overflow: hidden;
}
 
.img:hover {
  cursor: pointer;
}
*/
