/*
Zona de pagina de login
*/
.background{
    background: url("../img/fondo_standard.jpeg") no-repeat center center fixed;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    
}

.login-container{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 275px;
    text-align: center;
    background-color: rgba(173, 255, 47, 0.6);
    border-radius: 25px;
    padding: 25px;
}

.login-title {
    font-size: 30px;
    font-weight: bold;
}

.login-container-username{
    margin-top: 20px;
}
.login-container-username-input{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 13px;
}

.login-container-password{
    margin-top: 2%;
}
.login-container-password-input{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 13px;
}

.login-container-signin{
    
}

.login-container-register{
    width: 100%;
    margin-top: 20px;
    height: 30px;
}

.login-container-social{
    width: 100%;
    margin-top: 20px;
    height: 30px;
}

.login-container-social > input{
    float: left;
}
/*
Zona de pagina de registro
*/
.register-container{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 470px;
    text-align: center;
    background-color: rgba(173, 255, 47, 0.6);
    border-radius: 25px;
    padding: 25px;
}

.register-container-fields{
    margin-top: 6px;
}
.common-register-fields {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 13px;
}

/*SEGURIDAD DE CONTRASEÑA*/

.password-security-level {
    width: 100%;
    background-color: #999;
    border-radius: 5px; 
}

.password-security-level td { 
    width: 42px;
    height: 5px;
    background-color: #CCC;
}

.row-beginning {
    border-radius: 5px 0 0 5px;
}

.row-ending {
    border-radius: 0 5px 5px 0;
}

.terrible-sec {
    background-color: red !important;
}

.low-sec {
    background-color: orange !important;
}

.medium-sec {
    background-color: yellow !important;
}

.high-sec {
    background-color: chartreuse !important;
}

.excellent-sec {
    background-color: green !important;
}

.terrible-sec-text {
    color: red !important;
}

.low-sec-text {
    color: orange !important;
}

.medium-sec-text {
    color: yellow !important;
}

.high-sec-text {
    color: chartreuse !important;
}

.excellent-sec-text {
    color: green !important;
}

.password-security-text {
    font-family: 'Verdana';
    font-size: 10px;
    text-align: left;
    color: grey;
    margin: 5px 0 10px;
    width: 100%;
}

#password-security-hint > b {
    text-shadow: 1px 1px 1px grey;
}

/*SEGURIDAD DE CONTRASEÑA*/