/*
Zona de pagina de login
*/
.background{
    background: url("../img/fondo_standard.jpeg") no-repeat center center fixed;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.login_container{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: fit-content; 
    width: -moz-fit-content;
    height: 40%; 
    text-align: center;
    background-color: greenyellow;
    border-radius: 25px;
    padding-left: 4%;
    padding-right: 4%;
}

.login_container_username{
    
}
.login_container_username_input{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 13px;
}

.login_container_password{
    margin-top: 2%;
}
.login_container_password_input{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 13px;
}

.login_container_singin{
    
}

.login_container_social{
    width: 100%;
    height: auto;
    background: bisque;
}

.login_container_social_facebook{
    float: left;
}
.login_container_social_facebook_button{
    
}

.login_container_social_twitter{
    float: left;
}
.login_container_social_twitter_button{
    
}

.login_container_social_google{
    float: left;
}
.login_container_social_google_button{
    
}