
/*SEGURIDAD DE CONTRASEÑA*/

.password-security-level {
    width: 100%;
    background-color: #999;
    border-radius: 5px; 
}

.password-security-level td { 
    width: 42px;
    height: 5px;
    background-color: #CCC;
}

.row-beginning {
    border-radius: 5px 0 0 5px;
}

.row-ending {
    border-radius: 0 5px 5px 0;
}

.terrible-sec {
    background-color: red !important;
}

.low-sec {
    background-color: orange !important;
}

.medium-sec {
    background-color: yellow !important;
}

.high-sec {
    background-color: chartreuse !important;
}

.excellent-sec {
    background-color: green !important;
}

.terrible-sec-text {
    color: red !important;
}

.low-sec-text {
    color: orange !important;
}

.medium-sec-text {
    color: yellow !important;
}

.high-sec-text {
    color: chartreuse !important;
}

.excellent-sec-text {
    color: green !important;
}

.password-security-text {
    font-family: 'Verdana';
    font-size: 10px;
    text-align: left;
    color: grey;
    margin: 5px 0 10px;
    width: 100%;
}

#password-security-hint > b {
    text-shadow: 1px 1px 1px grey;
}

/*SEGURIDAD DE CONTRASEÑA*/